# Database
DATABASE_URL="postgresql://agendamento:CHANGE_ME@postgres-agendamento:5432/agendamento"

# Next.js
PORT=3000
HOSTNAME=0.0.0.0

# Domain (URLs absolutas pro Fluxi)
NEXT_PUBLIC_BASE_URL="https://agendamento.bcsgarcia.pt"
